<br><%= f.label :activity_id, "Select an existing activity:"%>
<%f.collection_select :activity_id, current_user.activities, :id, :name, include_blank: true %>
                      
<h3>Or Create a new Activity:</h3>
    
  <%= f.fields_for :activity do |a| %>
    <%= a.label :name %>
    <%= a.text_field :name %>
    <br></br>

  <%= a.label :duration %>
  <%= a.number_field :duration %>
  <br></br>

  <%= a.label :description %>
  <%= a.text_field :description %>
    <br></br>

  <%= a.hidden_field :user_id, value: current_user.id %>
    <br></br>

  <% end %>