
<h3><%= render partial: "layouts/errors", locals: { object: @activity } %></h3>
<%= form_for [@activity, @event] do |f|%>
<%=f.label :name%>
<%=f.text_field :name%><br>

<%=f.label :date%>
<%=f.date_field :date%><br>

<%=f.label :location_id%>
<%=f.collection_select :location_id, current_user.locations, :id, :name %><br>

<%=activity_form_option(f)%> 


<%=f.submit%>

<%end%>