<%= display_index_header%>

<ul>
<% @events.order(:date).each do |event| %>
<li> <%=link_to event.name.titleize, event_path(event) %><br>
      <button id='event-data'>SEE EVENT</button>
      <div id='ajax-event-<%= event.id %>'>[placeholder for event]</div>
    <%# <%=display_date(event)%> 
    <%# <%=event.location.name.titleize%> <br><br>
    </li>
    <%end%>
</ul>




 
<br>
<br>

<%= link_to "Number of Located Events", events_number_of_located_events_path%>