<h1>New Event</h1>
<h3><%=@event.errors.full_messages.to_sentence%></h3>
<%= form_for [@activity, @event] do |f|%>
<%=f.label :name%>
<%=f.text_field :name%><br>

<%=f.label :date%>
<%=f.date_field :date%><br>

<%=f.label :location_id%>
<%=f.collection_select :location_id, current_user.locations, :id, :name %><br>

<%=activity_form_option(f)%> 


<%=f.submit%>

<%end%>

