<%= form_for @activity, html: {id: :myForm } do |f|%>
<%=f.label :name%>
<%=f.text_field :name%><br />

<%=f.label :duration, "Duration in Minutes"%>
<%=f.number_field :duration%><br />

<%=f.label :description%>
<%=f.text_field :description%>

<%=f.submit%>

<%end%>

      <script>
       $(function() {
        $("form#myForm.new_activity").on("submit", function(event) {
          event.preventDefault()
          var post_url = $(this).attr("action");
          var request_method = $(this).attr("method");
          var form_data = $(this).serialize();

          $.ajax({
              url: post_url,
              type: request_method,
              data: form_data
          }).done(function(response){
               var activity = new Activity(response);
               const newHtml = activity.newActivityHTML();
              $("#insert-activity").append(newHtml);
              $('#activty-form-placeholder').html('')
              $("#activity-form-button").show();
          });
        });
      });


class Activity {
  constructor(obj) {
    this.id = obj.id
    this.name = obj.name,
    this.description = obj.description
    this.duration = obj.duration 
  }
}

Activity.prototype.newActivityHTML = function () {
  return (`
  <div class='activity'>
  <ul>
  <li> <strong> <a href="activities/${this.id}">${this.name}</a></strong> 
  ${this.duration} Minutes<br>
  ${this.description}</li>
  </ul>
  </div>
  `)
}
     </script>