<h1>Activities</h1>
<ul>
 <% @activities.each do |activity|%>
<li><strong><%=link_to activity.name.titleize, activity_path(activity)%></strong>
<%=activity.duration%> Minutes<br>
<%=activity.description%>
<%=link_to "See All Events With This Activity", activity_events_path(activity)%> | <br>
<%= link_to "Add This Activity To A New Event", new_activity_event_path(activity) %>
</li>
<br><br>
<%end%>
</ul>
<br>
<div id="activity_div"> 
   <h2 id="activityName"></h2>
  <p id="activityDuration"></p>
  <p id="activityDescription"></p>
</div>

<%# <form id="myForm1" action="activities" method="post"> 

    <%# <%= render "form" %>
    <%# <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%# Name: <input type="text" name="activity[name]" /> 
    <br>
    Duration <input type="number" name="activity[duration]">
    <br>
    Description: <br><textarea name="activity[description]"></textarea>} 
    <input type="submit" value="Submit Activity" /> 
    </form> %> 

    <button id="activity-form-button">New Activity</button>


    <div id="activty-form-placeholder"></div>

     


    <br>
    <br>
    <br>
    <br>