<h1><%= @activity.name %></h1>
<h2> <%= @activity.duration%> Minutes<h2>
 <%=@activity.description%>
<br><br>
<h5> <%= link_to "Edit Activity", edit_activity_path(@activity)%> </h5>
  <%# <%= link_to 'Delete Activity', @activity,  method: :delete, data: { confirm: 'Are you sure?' } %>