<!DOCTYPE html>
<html>
  <head>
    <title>ActivityPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <%=javascript_include_tag "application", 'data-turbolinks-track': true %> 
  </head>

  <body>
      
      <% if logged_in? %>
    <nav class='navbar'>
      <%= link_to 'Logout', '/logout', method: :delete, class:'button'%>
      <%= link_to 'My Locations', locations_path , class:'button'%>
      <%= link_to 'Add a Location', new_location_path , class:'button'%>
      <%= link_to 'Add an Activity', new_activity_path , class:'button'%>
      <%= link_to 'All Activities', activities_path, class:'button' %>
      <%= link_to 'Add an Event', new_event_path, class:'button' %>
      <%= link_to 'All Events', events_path, class:'button' %>
    </nav>
    <% else %>
      <%= link_to 'Log In', login_path %>
    <% end %>
    <%flash.each do |k, v|%>
    <%=content_tag :div, v, class: "flash-#{k}"%>
    <%end%>
    <%= yield %>
    
  </body>
</html>
